<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutorless</title>
  <style>
  </style>
</head>
<body>
    <div class="information">
      <p class="name">Учащийся: <span>{{inner.username}}</span></p> <!--Сюда вставлять имя пользователя (входные данные)-->
      <p class="date">Дата прохождения: <span>{{inner.test_date}}</span></p> <!--Сюда вставлять дату прохождения (входные данные)-->
      <p class="subject">Предмет: {{inner.test}}</p> <!--Сюда вставлять название предмета (входные данные)-->
      <p class="test-name">Тест: <span>{{test.stage}}</span></p> <!--Сюда вставлять название теста (входные данные)-->
    </div>
    <div>
      <h1 class="statistics-title">Общая статистика</h1>
      <table class="statistics-table">
        <tr class="statistics-table-tr">
          <td class="statistics-table-td">Первичный балл</td>
          <td class="statistics-table-td">{{first_points}}/{{general_test_points}} {{first_points*100/general_test_points}}% </td> <!--Сюда вставлять высчитанный первичный балл-->
        </tr>
        <tr class="statistics-table-tr">
          <td class="statistics-table-td">Предполагаемый тестовый балл</td>
          <td class="statistics-table-td">{{test_points}}/100</td> <!--Сюда вставлять предполагаемый тестовый балл-->
        </tr>
        <tr class="statistics-table-tr">
          <td class="statistics-table-td">Время выполнения</td>
          <td class="statistics-table-td">{{time_of_solving}}</td> <!--Сюда вставлять время выполнения (распарсить его именно в формат ЧЧ:ММ:СС)-->
        </tr>
        <tr class="statistics-table-tr">
          <td class="statistics-table-td">Количество правильных ответов</td>
          <td class="statistics-table-td">{{num_of_correct_answers}}</td> <!--Сюда вставлять количество правильных ответов-->
        </tr>
        <tr class="statistics-table-tr">
          <td class="statistics-table-td">Количество неправильных ответов</td>
          <td class="statistics-table-td">{{num_of_incorrect_answers}}</td> <!--Сюда вставлять количество неправильных ответов-->
        </tr>
      </table>
    </div>
    <div class="recomendations">
      <h1 class="recomendations-title">Рекомендации от составителей</h1>
      <p class="recomendations-text">{{time_recommendation}}</p> <!--Сюда вставлять рекомендации от преподавателей-->
    </div>
    <div class="topics">
      <!--Вот здесь очень важно: если посмотреть в документ, содержащий каскадный список тем, можно увидеть, что
      иерархия идет по нисходящей вплоть до 6-го уровня. Для каждого уровня вложенности существует свой буллет (то, чем обозначается элемент списка).
      Для первого уровня: &bull;, для второго уровня: &#9675;, для третьего уровня: &#9650; для четвертого уровня: &#9660; для пятого уровня: &#9658; для шестого уровня: &#9668;
      Также не стоит забывать про &nbsp, который всегда нужно вставлять после буллета-->
      <h1 class="topics-title">Темы для повторения</h1>
      <i class="topics-preamble">Наш робот сформировал список тем, которые вызвали у Вас затруднения.
        Темы расставлены в порядке убывания приоритетности. Начните повторение с самых верхних тем.
      </i>
          {% set keys = problem_themes.keys() %}
          {% set bullets = {0: ['topic-first', '&bull;&nbsp;'],
                            1: ['topic-second', '&#9675;&nbsp;'],
                            2: ['topic-third', '&#9650;&nbsp;'],
                            3: ['topic-fourth', '&#9660;&nbsp;'],
                            4: ['topic-fifth', '&#9658;&nbsp;'],
                            5: ['topic-sixth', '&#9668;&nbsp;']}%}
          {% for key in keys %}
              <div class="topic">
                <i class="topic-title">{{key}}</i>
                {% set problem_length = problem_themes[key]|length %}
                {% for problem_ind in range(problem_length) %}
                    {% if problem_ind >= 5 %}
                        <p class="{{bullets[5][0]}}"><span>{{bullets[5][1]}}</span>{{problem_themes[key][problem_ind]}}</p>
                    {% else %}
                        <p class="{{bullets[problem_ind][0]}}"><span>{{bullets[problem_ind][1]}}</span>{{problem_themes[key][problem_ind]}}</p>
                    {% endif %}
                {% endfor %}
              </div>
          {% endfor %}
    </div>
    <div class="consultation">
      <h1 class="consultation-title">Консультация по вопросам</h1>
      <i class="consultation-preamble">В вопросах с вариантами ответа галочками отмечены выбранные Вами варианты</i>
        {% set question_length = test.questions|length %}
        {% for question_ind in range(question_length) %}
            <div class="question">
                <h3 class="question-title">{{test.questions[question_ind].name}}. {{test.questions[question_ind].task}}</h3>
                    {% if test.questions[question_ind].type == 'variants' %}
                        <div class="variants">
                        {% set variants_length = test.questions[question_ind]['variants']|length %}
                        {% for variant_ind in range(1, variants_length+1) %}
                            {% if variant_ind in test.questions[question_ind]['rightAnswers'] %}
                                {% if variant_ind in test.questions[question_ind]['answers'] %}
                                    <p class="variant right"><span>{{variant_ind}}) {{test.questions[question_ind]['variants'][variant_ind-1]}}</span><input type="checkbox" checked></p>
                                {% else %}
                                    <p class="variant wrong"><span>{{variant_ind}}) {{test.questions[question_ind]['variants'][variant_ind-1]}}</span><input type="checkbox"></p>
                                {% endif %}
                            {% else %}
                                {% if variant_ind in test.questions[question_ind]['answers'] %}
                                    <p class="variant wrong"><span>{{variant_ind}}) {{test.questions[question_ind]['variants'][variant_ind-1]}}</span><input type="checkbox" checked></p>
                                {% else %}
                                    <p class="variant right"><span>{{variant_ind}}) {{test.questions[question_ind]['variants'][variant_ind-1]}}</span><input type="checkbox"></p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% elif test.questions[question_ind].type == 'textarea' %}
                        <i class="task">{{test.questions[question_ind].addition}}</i> <!--Сюда вставлять предложение из задания-->
                        <p class="answer">Ваш ответ: <span>{{test.questions[question_ind].answers}}</span></p>
                    {% elif test.questions[question_ind].type == 'ratio' %}
                        {% set letter = "АБВГДЕ" %}
                        {% set variants_length = test.questions[question_ind]['A_variants']|length %}
                        {% for variant_ind in range(variants_length) %}
                        <table class="task-table">
                          <tr class="task-table-tr"> <!--Структура каждой строки (tr) одинакова: буква-цифра.-->
                            <td class="task-table-td">{{letter[variant_ind]}}. {{test.questions[question_ind]['A_variants'][variant_ind]}}</td>
                            <td class="task-table-td">{{variant_ind+1}}. {{test.questions[question_ind]['num_variants'][variant_ind]}}</td>
                          </tr>
                        </table>
                        {% endfor %}
                    {% endif %}
                </div>
                <p class="time">Затраченное время: <span>{{test.questions[question_ind].time}}</span></p><!--Сюда вставляется время, затраченное на этот вопрос. Также необходимо распарсить его в формат ЧЧ:ММ:СС.-->
                <p class="result">Задание: <span>{{answer_results[question_ind]}}</span></p><!--Здесь вставляется итог выполнения задания: верное, неверное или частично верное. То, по каким правилам определять этот итог, изложено в задании.-->
                <div class="explanation">
                  <h4 class="explanation-title">Пояснение</h4>
                  <div class="explanation-text"> <!--Здесь просто нужно вставить текст из столбца "Консультация" в файле с тестом-->
                  {% set commentary_length = test.questions[question_ind]['commentary']|length %}
                    {% for commentary_ind in range(commentary_length) %}
                      {{commentary_ind+1}}) {{test.questions[question_ind]['commentary'][commentary_ind]}}
                      <br/>
                    {% endfor %}
                  </div>
                </div>
            </div>
          {% endfor %}
    </div>
</body>
</html>